<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Création compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 align="center">Création d'un compte</h1>

<h1 th:inline="text">Vous etes : [[${#httpServletRequest.remoteUser}]]</h1>
<div id="menu_horizontal">
    <ul id="onglets">
        <li class="active"><a href="index.html"> Accueil </a></li>
        <li><a href="/createAccount"> Création d'un compte </a></li>
        <li><a href="/history"> Historique de mes opérations </a></li>
        <li><a href="/account"> Effectuer une opération </a></li>
        <li><a href="/logout"> Déconnexion </a></li>
    </ul>
</div>

<form name='createAccount'
      th:action="@{/createAnAccount}" method='POST'>
    <fieldset>
        <legend> Création d'un compte bancaire</legend>
        <label>Type de compte</label>
        <br/>
        <select name="typeCompte" id="typeCompte" onchange="onChangeValue()">
            <option value="epargne"> Compte Epargne</option>
            <option value="courant"> Compte Courant</option>
        </select>
        <br/>
        <br/>
        <label>Solde</label>
        <br/>
        <input type="number" name="solde" min="1" step="0.5" value="1" th:required="required"/>
        <div id="decouvertInput">
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            function onChangeValue() {
                var typeCSelect = document.getElementById('typeCompte');
                var typeCompte = typeCSelect.options[typeCSelect.selectedIndex].value;
                if (typeCompte == 'courant') {
                    var myDiv = document.getElementById('decouvertInput');
                    myDiv.innerHTML = '<br/> <br/> <label>Découvert autorisé</label> <br/> <input type="number" name="decouvert" min="1" step="0.5" value="1" required/>';
                } else {
                    var myDiv = document.getElementById('decouvertInput');
                    myDiv.innerHTML = '';
                }
            }
            /*]]>*/
        </script>
        <br/>
        <br/>
        <input type="submit" value="Création du compte"/>
    </fieldset>
</form>

</body>
</html>