<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Historique</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 align="center">Historique de mes opérations</h1>

<h1 th:inline="text">Vous etes : [[${#httpServletRequest.remoteUser}]]</h1>
<div id="menu_horizontal">
    <ul id="onglets">
        <li class="active"><a href="index.html"> Accueil </a></li>
        <li><a href="/createAccount"> Création d'un compte </a></li>
        <li><a href="/history"> Historique de mes opérations </a></li>
        <li><a href="/account"> Effectuer une opération </a></li>
        <li><a href="/logout"> Déconnexion </a></li>
    </ul>
</div>

<div th:if="${not #lists.isEmpty(listAccounts)}">
    <TABLE border="1" align="center" id="table" style="visibility: hidden">
        <TR>
            <TH>N° Compte</TH>
            <TH>N° Opération</TH>
            <TH>Type D'opération</TH>
            <TH>Montant (en €)</TH>
            <TH>Date de l'opération</TH>
        </TR>

        <h1 align="center" id="titre">Aucune opérations a été effectuées</h1>

        <div th:each="account : ${listAccounts}">
            <div th:if="${not #lists.isEmpty(account.listOperations)}">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    document.getElementById('titre').style.display = 'none';
                    document.getElementById('table').style.visibility = 'visible';
                    /*]]>*/
                </script>
                <div th:each="operation : ${account.listOperations}">
                    <TR>
                        <TD th:text="${account.idCompte}"></TD>
                        <TD th:text="${operation.idOperation}"></TD>
                        <TD th:text="${operation.typeOperation}"></TD>
                        <TD th:text="${operation.montant}"></TD>
                        <TD th:text="${operation.dateOperation}"></TD>
                    </TR>
                </div>
            </div>
        </div>
    </TABLE>
    <br/>
    <br/>
</div>
<div th:unless="${not #lists.isEmpty(listAccounts)}">
    <h1 align="center">Vous ne disposez d'aucun comptes</h1>
</div>

</body>
</html>