<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Accueil Banque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 align="center">Bienvenue dans le site de votre banque</h1>

<div th:if="${#httpServletRequest.remoteUser}">
    <h1 th:inline="text">Bienvenue [[${#httpServletRequest.remoteUser}]]</h1>
    <div id="menu_horizontal">
        <ul id="onglets">
            <li class="active"><a href="index.html"> Accueil </a></li>
            <li><a href="/createAccount"> Création d'un compte </a></li>
            <li><a href="/history"> Historique de mes opérations </a></li>
            <li><a href="/account"> Effectuer une opération </a></li>
            <li><a href="/logout"> Déconnexion </a></li>
        </ul>
    </div>
</div>

<div th:unless="${#httpServletRequest.remoteUser}">
    <form name='inscriptionForm'
          th:action="@{/inscription}" method='POST'>
        <fieldset>
            <legend>Inscription d'un client</legend>
            <div th:if="${param.exists}">
                <p>Nom d'utilisateur deja existant !!</p>
            </div>
            <label>Nom d'utilisateur</label>
            <br/>
            <input type="text" name="usernameC" id="usernameC" th:required="required"/>
            <br/>
            <br/>
            <label>Nom</label>
            <br/>
            <input type="text" name="nom" id="nom" th:required="required"/>
            <br/>
            <br/>
            <label>Prénom</label>
            <br/>
            <input type="text" name="prenom" id="prenom" th:required="required"/>
            <br/>
            <br/>
            <label>Mot de Passe</label>
            <br/>
            <input type="password" name="passwordC" id="passwordC" th:required="required"/>
            <br/>
            <br/>
            <input type="submit" value="S'inscrire"/>
        </fieldset>
    </form>
    <br/>
    <br/>
    <br/>
    <form name='loginForm'
          th:action="@{/login}" method='POST'>
        <fieldset>
            <legend>Se connecter</legend>
            <div th:if="${param.error}">
                <p>Email et mot de passe non reconnu !!</p>
            </div>
            <div th:if="${param.logout}">
                <p>Deconnexion reussi</p>
            </div>
            <label>Nom d'utilisateur</label>
            <br/>
            <input type="text" name="username" id="username"/>
            <br/>
            <label>Mot de Passe</label>
            <br/>
            <input type="password" name="password" id="password"/>
            <br/>
            <br/>
            <input type="submit" value="Se connecter"/>
        </fieldset>
    </form>
</div>

</body>
</html>