<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Se connecter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 align="center">Connexion obligatoire</h1>
<div id="menu_horizontal">
    <a href="index.html"> Accueil </a>
    <br/>
    <br/>
</div>
<form name='loginForm'
      th:action="@{/login}" method='POST'>
    <fieldset>
        <legend>Veuillez vous connecter pour accéder au site</legend>
        <div th:if="${param.error}">
            <p>Email et mot de passe non reconnu !!</p>
        </div>
        <div th:if="${param.logout}">
            <p>Deconnexion reussi</p>
        </div>
        <label>Nom d'utilisateur</label>
        <br/>
        <input type="text" name="username" id="username"/>
        <br/>
        <label>Mot de Passe</label>
        <br/>
        <input type="password" name="password" id="password"/>
        <br/>
        <br/>
        <input type="submit" value="Se connecter"/>
    </fieldset>
</form>

</body>
</html>

